<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Cancel Note:</b>
  <%= @order.cancel_note %>
</p>

<p>
  <b>User:</b>
  <%= @order.user.name %>
</p>

<p>
  <b>Line Items:</b><br/>
  <% @order.line_item.each do |line| %>
    <%= line.id %> | <%=line.product.name%> | <%=line.product.price%> | <%=line.quantity%><br/>
  <% end %>
</p>

<p>
  <b>Net Total:</b><br/>
  <%= @net_total %><br/>
</p>

<p>
  <b>Gross Total:</b><br/>
  <%= @gross_total %><br/>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
